body {
    font-family: arial;
    width:1600px;
}

#mainbutton {
	background-image: url(../pics/mainbutton.jpg);
    width: 1000px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
}

#mainbutton:hover {
	background-image: url('../pics/mainbuttonhover.jpg');
    width: 1000px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
}

#homebuttons {
    width: 1000px;
    height: 709px;
    position: absolute;
}

.buttonbuttons {
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    background: transparent;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
}

.buttonbuttons:hover {
    opacity: 1;
    cursor: pointer;
}

#button1 {
    width: 91px;
    height: 91px;
    left: 161px;
    top: 150px;
    border-color: pink;
}

#button2 {
    width: 70px;
    height: 70px;
    left: 385px;
    top: 87px;
    border-color: red;
}

#button3 {
    width: 92px;
    height: 92px;
    left: 395px;
    top: 185px;
    border-color: #6495ed;
}

#button4 {
    width: 64px;
    height: 62px;
    left: 309px;
    top: 325px;
    border-color: orange;
}

#button5 {
    width: 88px;
    height: 88px;
    left: 130px;
    top: 435px;
    border-color: green;
}

#button6 {
    width: 89px;
    height: 86px;
    left: 425px;
    top: 486px;
    border-color: purple;
}

#button7 {
    width: 69px;
    height: 69px;
    left: 251px;
    top: 607px;
    border-color: blue;
}

#button8 {
    width: 73px;
    height: 73px;
    left: 594px;
    top: 210px;
    border-color: lime;
}

#button9 {
    width: 70px;
    height: 69px;
    left: 857px;
    top: 235px;
    border-color: yellow;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    height: 110px;
}

#footer a {
    color: purple;
    font-size: 18pt;
    position: absolute;
    margin-left: 10px;
}

#question {
    margin-bottom: 143px;
}

#question h1 {
    color: purple;
}

.mayordescription {
    margin: 150px 300px 150px 300px;
}

.mayordescription p {
    font-size: 32px;
}

.mayordescription a {
    font-size: 28px;
    color: green;
}

#speechlink {
    color: green;
}

#statement {
    margin-left: 15px;
    width: 1000px;
    height: 1000px;
}


#f1 {
    left: 309px;
    top: -3px;
    font-size: 17pt;
}

#f2 {
    left: 350px;
    top: -50px;
    font-size: 10pt;
}

#f3 {
    left: 426px;
    top: 0px;
    font-size: 14pt;
}

#f4 {
    left: 515px;
    top: -50px;
    font-size: 22pt;
}

#f5 {
    left: 589px;
    top: 0px;
    font-size: 9pt;
}

#f6 {
    left: 61px;
    top: 11px;
    font-size: 25pt;
}

#f7 {
    left: 100px;
    top: 87px;
    font-size: 7pt;
}

#f8 {
    left: 153px;
    top: 33px;
    font-size: 14pt;
}

#f9 {
    left: 233px;
    top: -24px;
    font-size: 16pt;
}

#f10 {
    left: 496px;
    top: 123px;
}

#f11 {
    left: 350px;
    top: 0px;
    font-size: 18pt;
}

#f12 {
    left: 0px;
    top: 100px;
    font-size: 9pt;
}

#f13 {
    left: -350px;
    top: 400px;
    font-size: 16pt;
}

#f14 {
    left: 500px;
    top: 250px;
    font-size: 13pt;
}

#f15 {
    left: 200px;
    top: 61px;
    font-size: 12pt;
}

#f16 {
    left: 250px;
    top: 150px;
    font-size: 7pt;
}

#f17 {
    left: -783px;
    top: 500px;
    font-size: 10pt;
}

#f18 {
    left: 0px;
    top: 262px;
    font-size: 9pt;
}

#f19 {
    left: -36px;
    top: 150px;
    font-size: 14pt;
}

#f20 {
    left: 30px;
    top: 100px;
    font-size: 16pt;
}

#f21 {
    left: 100px;
    top: 150px;
    font-size: 13pt;
}

#f22 {
    left: 200px;
    top: 150px;
    font-size: 8pt;
}

#f23 {
    left: -50px;
    top: 250px;
    font-size: 7pt;
}

#f24 {
    left: 300px;
    top: 150px;
    font-size: 19pt;
}

#f25 {
    left: 565px;
    top: -50px;
    font-size: 10pt;
}

#f26 {
    left: 450px;
    top: 300px;
}   font-size: 17pt;

#f27 {
    left: 204px;
    top: 250px;
    font-size: 9pt;
}

#f28 {
    left: -100px;
    top: 250px;
    font-size: 14pt;
}

#f29 {
    left: -100px;
    top: 400px;
    font-size: 8pt;
}

#f30 {
    left: 0px;
    top: 277px;
    font-size: 12pt;
}

#f31 {
    left: -400px;
    top: 350px;
    font-size: 14pt;
}

#f32 {
    left: 1062px;
    top: 0px;
    font-size: 17pt;
}

#f33 {
    left: 770px;
    top: 30px;
    font-size: 10pt;
}

#f34 {
    left: 200px;
    top: 30px;
    font-size: 14pt;
}

#fracs1 {
    height:500px;
}

.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 

#opposite  { 
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#remix {
    margin-left: 15px;
    margin-top: 45px;
}

#remix h1 {
    color: #6495ed;
    text-shadow: 40px -40px 6px grey;
    font-size: 35pt;
}

#remix h2 {
    color: #6495ed;
    font-weight: normal;
    font-size: 27pt;
}

#remix a {
    color: #6495ed;
}

#backbutton {
    text-decoration: none; 
    position: relative;
}

#backbutton img {
    width: 70px;
    float: left;
    position: absolute;
    top: 0px;
}

#backbutton p {
    color: #ed8e51;
    font-size: 25pt;
    margin: 0;
    left: 72px;
    top: 14px;
    position: absolute;
}
