body {
    font-family: arial;
}

#mainbutton {
	background-image: url(../pics/mainbutton.jpg);
    width: 1000px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
}

#mainbutton:hover {
	background-image: url('../pics/mainbuttonhover.jpg');
    width: 1000px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
}

#homebuttons {
    width: 640px;
    height: 480px;
    position: absolute;
}

.buttonbuttons {
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    background: transparent;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
}

.buttonbuttons:hover {
    opacity: 1;
    cursor: pointer;
}

#button1 {
    width: 63px;
    height: 63px;
    left: 104px;
    top: 103px;
    border-color: pink;
}

#button2 {
    width: 51px;
    height: 51px;
    left: 247px;
    top: 60px;
    border-color: red;
}

#button3 {
    width: 64px;
    height: 62px;
    left: 252px;
    top: 128px;
    border-color: yellow;
}

#button4 {
    width: 44px;
    height: 45px;
    left: 199px;
    top: 221px;
    border-color: orange;
}

#button5 {
    width: 67px;
    height: 64px;
    left: 80px;
    top: 295px;
    border-color: green;
}

#button6 {
    width: 61px;
    height: 61px;
    left: 274px;
    top: 329px;
    border-color: purple;
}

#button7 {
    width: 49px;
    height: 50px;
    left: 161px;
    top: 411px;
    border-color: blue;
}

#button8 {
    width: 51px;
    height: 51px;
    left: 381px;
    top: 144px;
    border-color: lime;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    height: 70px;
}

#footer a {
    color: purple;
    font-size: 18pt;
    position: absolute;
    margin-left: 10px;
}

#question {
    margin-bottom: 80px;
}

#question h1 {
    color: purple;
}

.mayordescription {
    margin: 150px 300px 150px 300px;
}

.mayordescription p {
    font-size: 32px;
}

.mayordescription a {
    font-size: 28px;
    color: green;
}

#speechlink {
    color: green;
}

#statement {
    margin-left: 15px;
    width: 1000px;
    height: 1000px;
}


#f1 {
    left: 300px;
    top: 0px;
}

#f2 {
    left: 350px;
    top: -50px;
}

#f3 {
    left: 426px;
    top: 0px;
}

#f4 {
    left: 515px;
    top: -50px;
}

#f5 {
    left: 589px;
    top: 0px;
}

#f6 {
    left: 20px;
    top: 20px;
}

#f7 {
    left: 100px;
    top: 50px;
}

#f8 {
    left: 150px;
    top: 20px;
}

#f9 {
    left: 233px;
    top: 0px;
}

#f10 {
    left: 300px;
    top: 50px;
}

#f11 {
    left: 350px;
    top: 0px;
}

#f12 {
    left: 0px;
    top: 100px;
}

#f13 {
    left: -350px;
    top: 400px;
}

#f14 {
    left: 500px;
    top: 250px;
}

#f15 {
    left: 200px;
    top: 61px;
}

#f16 {
    left: 250px;
    top: 150px;
}

#f17 {
    left: -600px;
    top: 500px;
}

#f18 {
    left: 0px;
    top: 200px;
}

#f19 {
    left: -200px;
    top: 150px;
}

#f20 {
    left: 30px;
    top: 100px;
}

#f21 {
    left: 100px;
    top: 150px;
}

#f22 {
    left: 200px;
    top: 150px;
}

#f23 {
    left: -50px;
    top: 250px;
}

#f24 {
    left: 300px;
    top: 150px;
}

#f25 {
    left: 700px;
    top: -50px;
}

#f26 {
    left: 450px;
    top: 300px;
}

#f27 {
    left: 204px;
    top: 250px;
}

#f28 {
    left: -100px;
    top: 250px;
}

#f29 {
    left: -100px;
    top: 400px;
}

#f30 {
    left: 0px;
    top: 400px;
}

#f31 {
    left: -400px;
    top: 350px;
}

#f32 {
    left: 900px;
    top: 0px;
}

#f33 {
    left: 600px;
    top: 30px;
}

#fracs1 {
    height:500px;
}

.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 

#opposite {
    background: -webkit-linear-gradient(#2196F3, #673AB7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
